// Specific CSS for your home-page
.limited-width {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Centers the div */
  padding: 0 200px; /* Adds small spacing on the sides */
}

.bg-custom {
    background-color: #7252F2;
    background-image: var(--bs-gradient);
}

.text-custom {
   color: #5A5A5A;
}

.text-custom-dark {
color: #543A70;
}

body {
    background-color: white !important;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  color: white;
  top: 55%;
  margin-left: 20px;

}

.container-home {
  background-color: #3E34A1;
  height: 300px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  width: 100%;
  position: relative;
}

h1.home {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

h3.home {
  color: white;
  font-size: 16px;
  font-weight: 100;
}
