<h4>Posts from Students</h4>
<ul>
  <% if @student_posts.present? %>
    <% @student_posts.each do |post| %>
      <li><%= post.content %></li>
    <% end %>
  <% else %>
    <li>No posts from students yet</li>
  <% end %>
</ul>
