<div class="col-12 col-md-6 col-lg-6 px-4">
  <div class="card-post-container">
    <% if teacher_posts.present? %>
      <% teacher_posts.each do |post| %>
        <% if !post.hidden? %>
          <% if post.event_instance.present? %>
            <%= render partial: "posts/post", locals: { post: post } %>
          <% else %>
            <%= render partial: "posts/post_noheader", locals: { post: post } %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p class="mt-3">No posts yet.</p>
    <% end %>
  </div>
</div>
