<aside class="pl-sidebar" data-sidebar-target="sidebar">
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">My Classes</a></li>
    <li><a href="#">Messages</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</aside>
