<div class="container w-100 my-5 bg-white">
  <div class="row">
    <div class="column">
      <h2 class="my-3 fw-bold d-flex justify-content-center">Welcome <%= current_user.name.capitalize %>!</h2>
      <p class="my-2 d-flex justify-content-center mb-3">Upcoming Events</p>
      <%# Iterating through attending events %>
      <%= render '/shared/event_card_iteration', events: @events, event_instances: @event_instances, bookings: @user.bookings %>
      <%# <%= render '/shared/event_card_iteration', events: @events.select { |event| event.start_date || event.event_instances.first&.start_time >= Time.now }, bookings: @user.bookings %> %>
    </div>
  </div>
</div>
