<p>Hi <%= @user.first_name %>,</p>
<p>Unfortunately, your booking request for <strong><%= @event.title %></strong> on <%= @event_instance.start_time.strftime("%A, %B %e at %l:%M %p") %> was declined by the teacher.</p>
<p>You can browse other events on our platform and request to join another one.</p>
