<p>Hi <%= @user.first_name %>,</p>
<p>Your booking for <strong><%= @event.title %></strong> on <%= @event_instance.start_time.strftime("%A, %B %e at %l:%M %p") %> has been confirmed 🎉.</p>
<p>We look forward to seeing you there!</p>
