<%# ----------BANNER---------- %>
<div class="image-container">
  <%= image_tag "home.JPG", alt: "home",   style: "width: 100%; height: auto;" %>
  <div class="overlay-text">
    <h5 style="margin-bottom: 0">More dancing, less hassle.</h5>
    <%# <h4 style="font-size: 12px">Manage bookings, share progress, and grow your dance community.</h4> %>
  </div>
</div>
<%# ----------END OF BANNER---------- %>
<div class="mb-4">
</div>
<%# <div class="container my-1"> %>
<%# iterating through some events %>
<div class="col-12 col-md-6 col-lg-6 mx-auto px-3">
  <div class="card-container mx-auto">
    <% @upcoming_event_instances.each do |upcoming_event_instance| %>
      <%= render "shared/event_instances_card", instance: upcoming_event_instance, event: upcoming_event_instance.event %>
    <% end %>
  </div>
</div>
<%# </div> %>
