<div class="d-flex justify-content-between mt-4 mb-2">
  <div class="overlay-text">
    <%= link_to "Switch to Teacher Dashboard", dashboard_path(view: "teacher"), class: "btn btn-secondary" %>
    <p class="d-flex justify-content-center fs-3 text-dark"><strong>My Student Dashboard</strong></p>
    <div class="column mx-3">
    </div>
  </div>
</div>
