<div class="container-dashboard-top">
  <div class="row">
    <div class="col-12">
      <%# <% if current_user.events.any? || current_user.bookings.any? %>
      <div class="d-flex justify-content-between mt-4 mb-2">
        <%= link_to dashboard_path(view: "teacher"), class: "btn btn-switch-dashboard" do %>
          Teacher Dashboard <i class="fa-solid fa-circle-right me-2"></i>
        <% end %>
        <div class="overlay-text">
          <h1 class="d-flex justify-content-center dashboard-h2 mt-6">My Student Dashboard</h1>
          <%# <h2 class="dashboard-h4 mb-0"> My Calendar</h2> %>
        </div>
        <div class="d-flex mx-3">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div data-controller="calendar" class="p-4"></div>
<div class="container mt-6 mb-5">
  <div class="row mx-0 mt-3">
    <% if @upcoming_event_instances.any? %>
      <h4 class="dashboard-h4 d-flex justify-content-start ms-0 mb-4" style="color: #292A5A">My Upcoming Classes</h4>
      <div class="col-12 col-md-6 col-lg-6 mx-auto px-1">
        <div class="card-container mx-auto">
          <%= render "shared/event_card_iteration", event_instances: @upcoming_event_instances %>
        </div>
      </div>
    <% end %>
  </div>
</div>
