<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.title %></p>
<p><%= @post.description %></p>
<!-- Video Dispaky-->
<% if @post.videos.attached? %>
  <%= video_tag(url_for(@post.videos.first), controls: true, type: "video/mp4") %>
<% else %>
  <p>No video attached.</p>
<% end %>
