.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  justify-content: center;
  gap: 1rem; /* Spacing between cards */
}

.card {
    width: 100%; /* Default to full width */
    max-width: 400px;
    flex: 1 1 300px;
    height: auto;
    background: #FFFFFF;
    border-radius: 14px;
    position: relative;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);

  }

  // .card-product-info-grid {
  //   display: grid;
  //   grid-template-columns: 95px auto;
  // }



  .card-info-grid {
    display: flex;
    justify-content: space-between; /* Space between the content */
    align-items: center; /* Vertically center the items */
  }

  .card img {
    height: 105px;
    width: 138px;
    object-fit: cover;
    border-radius: 6px;

  }

  .card h3 {
    font-size: 17px;
    font-weight: 900;
    margin: 0;
    color: #292A5A;
    // margin-bottom: 1px;
  }

  .card h4 {
    font-size: 13px;
    font-weight: light;
    margin: 0;
    color: #292A5A;
    margin-bottom: 13px;
  }

  .card p {
    font-size: 12px;
    line-height: 1.2;
    // opacity: .7;f
    margin-bottom: 0;
    // margin-top: 4px;
    // position: absolute;
    // top: 24px;
  }

  // .past-event-overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0,0,0,0.2);
  // // backdrop-filter: blur(2px); /* Slight blur effect */
  // pointer-events: none; /* Allow clicks to pass through */
  //   border-radius: 4px; /* Keep the rounded corners of the card */
  // }


  .card .attendee-number {
    color: #292A5A;
    font-size: 10px;
    // margin-top: 1px;
      }

  // .card-product .card-product-infos {
  //   padding-right: 12px;
  //   padding-left: 12px;
  //   padding-top: 0px;
  //   justify-content: space-between;
  //   display: flex;
  //   flex-direction: column;
  // }

  .card .card-infos {
    width: 100%;
    padding-right: 12px;
    padding-top: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: row; /* Change this from column to row for side-by-side layout */
    align-items: stretch; /* Optional: To vertically center the items */
    // margin-left: -63px;
  }


  .card .card-infos p {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    // overflow: hidden;
  }


  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10 !important;

  }

  .studio-image {
    width: 100%; /* Makes the image fill the width of its container */
    height: auto; /* Keeps the aspect ratio of the image intact */
  }

  .no-padding-right {
    padding-right: 0 !important;
  }

  .no-margin {
    margin: 0 !important; /* Removes all margins */
  }

.card-sums {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  // display: grid;
  // grid-template-columns: 190px auto;
  // align-items: end;
  position: relative;
  border: 1px solid #DBCFE8;
  border-radius: 5px;
}

.card-sums p {
  padding: 4px;
  margin: 4px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}
