.btn-custom {
    background-color: #543A70;
    color: white;
    width: 50%;
    border-radius: 5px;

}

.btn-card {
  background-color: #3E34A1;
  color: white;
  font-size: 15px;
  padding: 12px;
  width: 100%;
  border-radius: 14px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.btn-manage {
  font-size: 15px;
  // border: 1px solid #000;
  background-color: #c4bfc9;
  color: white;
  padding: 12px;
  display: inline-block;
  border-radius: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px

}

.btn-card:focus {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: 1px;
}

.btn-card:active {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: 1px;
}



.btn-custom-gray {
  margin-left: auto; /* Flexbox way */
  float: right; /* Alternatively, you can use float */
  background-color: #c4bfc9 !important;
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 3px;
  margin-left: 3px;
}

// .btn-profile {
//   margin-left: auto; /* Flexbox way */
//   float: right; /* Alternatively, you can use float */
//   background-color: #543A70;
//   color: white;
//   border-radius: 5px;
//   padding-left: 10px;
// }

.btn-right:hover {
  background-color: #F6F5FA; /* Set background to white on hover */
  color: #543A70; /* Change text color to match the border */
  border: 1px solid #543A70; /* Add border with the same color as the background */
}


.btn-navbar {
  margin-left: auto; /* Flexbox way */
  float: right; /* Alternatively, you can use float */
  background-color: #543A70;
  color: white;
  border-radius: 5px;
  border: 0.5px solid  white
}

.btn-navbar:hover {
  background-color: #F6F5FA; /* Set background to white on hover */
  color: #543A70; /* Change text color to match the border */
  border: 1px solid #543A70; /* Add border with the same color as the background */
}

.event-buttons {
  z-index: 999999;
}

.btn-light-purple {
  background-color: #9982f5;
  color: white;
}

.fade-out {
  opacity: 0 !important;
  transition: opacity 0.4s ease;
}
