.custom-form-container {
  width: fit-content;  /* Adjust this value as needed */
  margin: 0 auto;  /* Center the form */
}

/* Remove bullets from list items */
[data-location-target="locationList"] {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background-color: rgb(210, 185, 218); /* Default background for the list */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

[data-location-target="locationList"] li {
  padding: 8px; /* Add space around the text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect when hovering over an item */
[data-location-target="locationList"] li:hover {
  background-color: #b392b7; /* Hover background color */
}

/* Selected item remains highlighted */
[data-location-target="locationList"] li.selected {
  background-color: #b392b7; /* Selected background color */
  border-radius: 4px;
}

.form-switch {
  position: relative !important;
  margin-left: 4px !important;
}

// change below with .form-check-input-toggle {

.form-check-input {
  width: 3.5rem !important;
  height: 1.5rem !important;
  // margin-left: 1.5rem !important;
  background-color: #3E34A1 !important;
  border-color: white !important;
}

.form-check-input-remember {
  width: 3.5rem !important;
  height: 1.5rem !important;
  margin-left: -36px !important;
  // background-color: #8d76a7 !important;
  border-color: none !important;
}



.switch-label {
  pointer-events: none !important;
  // font-weight: bold !important;
}

.switch-label--yes {
  color: rgb(255, 255, 255) !important;
  top: 67% !important;
  left: 35% !important;
  transform: translate(-50%, -50%) !important;
}

.switch-label--no {
  color: rgb(255, 255, 255) !important;
  top: 67% !important;
  left: 64% !important;
  transform: translate(-50%, -50%) !important;
}



// .switch-label--center {
//   top: 45%;          /* move up a touch (was 50%) */
//   left: 12%;         /* move a bit right (was 50%) */
//   transform: translate(-50%, -50%); /* keep true centering math */
// }


/* Make the form wider on small screens */
@media (max-width: 769px) {
  .custom-form-container {
    width: 90%;  /* Make the form take up 90% of the screen width on smartphones */
  }
}
