// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/panel";

// Add custom row styles directly in application.scss

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px; /* Adjust spacing between cards */
//   justify-content: space-between; /* Optional, for spacing the cards evenly */
// }

html, body {
  overflow-x: hidden;
  overflow-y: scroll; /* Ensures vertical scrolling is enabled */
  width: 100%;
  height: auto;
  background-color: #F2F2F2 !important;
  padding-bottom: 50px;
}

.popover {
  background-color: #f7f4f9;
  // border: 1px solid #5b4a6d;
  border-radius: 5px;

}

/* Popover content */
.popover-body {
  color: #736385; /* dark purple text */
  font-weight: 400;
  font-family: sans-serif;
  // padding: 0.5rem 1rem;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 9px;
  padding-left: 9px;
}

.popover .popover-arrow {
  display: none !important;
}

// Removes the blue tap highlight on iOS/Android
button, input, a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; // Optional: disables the callout (copy/paste) menu
}

// Prevent the default background color flash on tap
button:active {
  background-color: transparent !important;
}

.custom-button {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #9747FF;
  padding: 13px;
  display: inline-block;
  border-radius: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 10px;
  background-color: transparent;
  color: #9747FF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.custom-button:focus,
.custom-button:active {
  outline: none;
  background-color: transparent !important;
  color: #9747FF !important;
}


.container-dashboard {
  width: 100%;
  border: 1px solid #5b4a6d;
  padding-bottom: 20px;
  padding-top: 13px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 5px;

}

header {
  background-color: transparent !important;
  box-shadow: none; // optional: remove shadow if present
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1000; // make sure it's above everything
  background: transparent;
  width: 100%;
  padding: 1rem 2rem;
}

.fc-daygrid-event-dot {
  display: none !important;
}

.fc-h-event {
  background-color: #3E34A1 !important;
  border: 1px solid #3E34A1 !important;
}

.fc-toolbar-title {
  font-size: 20px !important;
  margin-top: 2px;
}

.fc {
  position: relative;
  margin-top: -228px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0.25rem !important;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.fc-col-header-cell-cushion {
  color: #494a7c !important;
  font-family: 'Inter';
  font-weight: 500;

}

.fc .fc-button-primary:disabled {
  background-color: #3E34A1;
}

.fc .fc-button-primary {
  background-color: #3E34A1 !important;
  font-size: 13px;
  font-family: 'Inter';
}


.fc .fc-toolbar.fc-header-toolbar {
  padding: 4px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 23px;
  margin-right: 0px;
}

trix-toolbar {
  white-space: normal;
}

/* Hide unwanted toolbar groups */
.trix-button-group--file-tools,
.trix-button-group--history-tools {
  display: none;
}

/* Remove borders and background from all Trix buttons */
.trix-button {
  border: none !important;
  box-shadow: none !important;
  background-color: #3E34A1 !important;
  padding-left: 14px;
  padding-right: 14px;
  color: white !important;
  margin-left: 2px !important;
  border-radius: 2px;
  // padding: 0.25rem !important; /* Optional: adjust padding */
}

/* Remove spacing between button groups */
.trix-button-group {
  display: flex !important;
  flex-wrap: nowrap !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  // padding: 0 !important;
  gap: 0 !important;
  // border-radius: 2px;
}

/* Specifically remove spacing from text tools group */
.trix-button-group--text-tools {
  display: flex !important;
  flex-wrap: nowrap !important;
  margin: 0 !important;
  // padding: 0 !important;
  gap: 0 !important;
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 2px !important;
  // border-radius: 2px;
}

/* Ensure individual buttons inside text-tools group are tight */
.trix-button-group--text-tools .trix-button {
  margin-left: 2px !important;
  padding-left: 14px;
  padding-right: 14px;
  border: none !important;
  box-shadow: none !important;
  border-radius: 2px;

}

.trix-button.trix-active {
  background-color: #292A5A !important;
  color: white !important;
}

.event-description .trix-content {
  margin: 0;
  padding: 0;
  border: none !important;
  min-height: 0px;
}

.trix-content {
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;     /* Optional: rounded corners */
  padding: 1rem;          /* Optional: space inside */
  min-height: 200px;      /* Optional: ensure it's tall enough */
  box-sizing: border-box; /* Ensures padding doesn't overflow */
  margin-top: 10px;
  margin-bottom: 10px;
  // margin-right: 14px;
  font-family: 'Inter';
  color: #292A5A;
  font-weight: 300;
}

.card-post .trix-content {
  border: none !important;
  padding: 0 !important;
  min-height: auto !important;
  background: transparent;
}

u {
  text-decoration: underline !important;
}

trix-editor u {
  text-decoration: underline;
}

trix-editor.trix-content > h1 {
  font-size: 17px !important;
  font-weight: bold !important;
}

trix-editor.trix-content > h2 {
  font-size: 16px !important;
  font-weight: bold !important;
}

trix-editor.trix-content > h3 {
  font-size: 15px !important;
  font-weight: bold !important;
}

.trix-content h1 {
  font-size: 17px;
  font-family: 'Inter';
  color: #292A5A;
}

.trix-content h2 {
  font-size: 16px;
  font-family: 'Inter';
  color: #292A5A;
}

.trix-content h3 {
  font-size: 15px;
  font-family: 'Inter';
  color: #292A5A;
}

.trix-content > div,
.trix-content {
  font-family: 'Inter';
  font-size: 15px;
  color: #292A5A;
}

.trix-content strong {
  font-weight: 500 !important;
}

.trix-content p,
.trix-content u,
.trix-content ul,
.trix-content li {
  font-size: 15px;
  font-family: 'Inter';
  color: #292A5A;

}

.post-description {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.unstyled-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}


.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #3E34A1;
}

.form-control {
  font-size: 15px;
}

.flatpickr-input[readonly]{
  font-size: 15px;
}

.form-select {
  font-size: 15px;
}



.form-label {
font-family: 'Inter';
}

.white-icon {
  color: white !important;
}

.offcanvas.offcanvas-end-burger {
  width: 70%;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.caret-icon {
  transition: transform 0.3s ease;
}

.caret-rotated {
  transform: rotate(90deg);
}


.btn-link-no-border {
  background: none;
  border: none;
  padding: 0;
  color: #292A5A; /* your desired color */
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}
.btn-link-no-border:hover {
  color: #1a1a1a; /* optional hover color */
}
